@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;
$color-red : red;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form_post {
  background: #f3f3f9;
  border: black;
  border-radius: 8px;
  h4{
    padding-top: 10px;
  }
  #button_post {
    padding-bottom: 15px;
  }
  .like_post{
    width: 60px;
    height: 30px;
  }
  .cmt_post{
    width: 60px;
    height: 30px;
  }
}

#posts {
  list-style: none;
  padding: 0 !important;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #f3f3f9;
  border: black;
  a {
    margin-left: 0px;
  }
  border-radius: 8px;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .avatar_person_post{
    .avatar{
      border: 0px solid ;
      border-radius: 50%;
    }
  }
  .form_post{
    padding: 10px;
  }
  .form_person{
    padding-left: 25px;
  }
  .post{
    font-weight: bold;
    font-size: 120%;
  }
  .time_post{
    margin: 2px 0 2px 0;
    display: block;
    color: gray;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin: 10px 0 10px 0;
    font-family: inherit;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.38;
    img {
      display: block;
      padding: 10px 0 10px 0;
      height: 300px;
      width: 632px;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    .delete_post{
      position: relative;
    }
  }
  .avatar_person_post{
    width: 50px;
    height: 50px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 30px;
  input {
    border: 0;
  }
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
    }
  }
}

.list_posts {
  padding-left: 0px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $color-red;
  ul {
    color: $color-red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

footer{
  background: black;
}

/* infomation user */
#inf_user{
  list-style-type: none;
  .detail_person{
    padding-left: 25px;
    .btnadd_friend{
      a{
        color: #9fc2e0 !important;
      }
    }
  }
  .person_name{
    display: block;
    margin-bottom: 5px;
  }
  .person_email{
    display: block;
    margin-bottom: 5px;
  }
  .person_birth{
    display: block;
    margin-bottom: 5px;
  }
}

#person_information{
  margin: 20px 0 15px 0;
  border-bottom: 1px solid #c5b7b7;
  padding-bottom: 10px;
  .avatar_suggest{
    border: 0px solid ;
    border-radius: 50%;
  }
}

.personal_infor{
  .basic_infor{
    display: grid;
    margin-top: 25px;
    .person_basic{
      margin: 5px 0 5px 0;
      .avatar_suggest{
        border: 0px solid;
        border-radius: 50%;
        margin-left: 100px;
      }
    }
    .btnadd_friend{
      a{
        color: #9fc2e0 !important;
      }
    }
  }
  .personal_information{
    text-align: center;
  }
}

.personal_wall{
  margin-left: 0px;
}

.name_add_friend{
  padding-top: 30px;
  .person_name{
    font-size: 200%;
  }
}

.btn_add_friend{
  .btn_add_friend_acc{
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
